
.body{
    background: url("concertBackground.jpg");
    background-size:cover;
}

#login {
    color: #1db954;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(13, 13, 13, .9);
    width: 650px;
    height: 500px;
    border-radius: 25px;
    float: center;
    margin-top: 10%;
    margin-left:auto;
    margin-right: auto;
    
}

.loginTitle{
    padding-top: 50px;
    font-size: 600%;
    margin-bottom: 1%;
}

.loginSubheading{
    font-size: 100%;
    font-family: 'Noto Sans', sans-serif;  
    margin-bottom: 3%;
}

.logos{
    margin-bottom: 7%;
}

.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    text-decoration: none;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn a:hover{
    color: navy;
    
}



#top-artists{
    background-color: navy;
}

.topnav{
    display: flex;
    height: 70px;
    background-color: black;
    overflow: hidden;
}

* {
    margin: 0;
    border: none;
    padding: 0;
}

.topnavText{
    order: 2;
    float: right;
    color: white;
    font-size: 110%;
    height: 20px;
    font-family: 'Raleway', sans-serif;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.topnavImage{
    order: 3;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-right: 20px;
    width: 60px;
    
}

.topnavLogo{
    flex-grow: 2;
    order: 1;
    float: left;
    color: #1db954;
    font-family: 'Montserrat', sans-serif;
    font-size: 350%;
    margin-left: 5%;
    
}




