
.body{
    background: url("concertBackground.jpg");
    background-size:auto;
    min-height: 100%;
}

#login {
    color: #ff8c03;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(13, 13, 13, .9);
    width: 650px;
    height: 500px;
    border-radius: 25px;
    float: center;
    margin-top: 10%;
    margin-left:auto;
    margin-right: auto;

}

#loginLogo{
    height: 75px;
    width: 140px;
}

.loginTitle{
    padding-top: 50px;
    font-size: 600%;
    margin-bottom: 30px;
}

.loginSubheading{
    font-size: 100%;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 90px;
}

.logos{
    margin-bottom: 7%;
}

.btn-primary {
    color: #fff;
    background-color: #1DB954;
    border-color: #357ebd;
    text-decoration: none;
}

.btn {
    width: 150px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn a:hover{
    color: navy;

}



#top-artists{
    margin-top: 30px;
    margin-left: 7%;
    width: 40%;
    height: 650px;
    float: left;
    text-align: center;
    background-color: rgba(13, 13, 13, .9);
    font-family: 'Catamaran', sans-serif;
    overflow-y: scroll;
}

.top-artists-heading{
    color: white;
    font-size: 40px;
    margin-bottom: 1%;
    margin-top: 1%;
    font-size: 35px;
}

.topnav{
    display: flex;
    height: 70px;
    background-color: black;
    overflow: hidden;
}

* {
    margin: 0;
    border: none;
    padding: 0;
}

.topnavText{
    color: white;
    font-size: 110%;
    height: 20px;
    font-family: 'Raleway', sans-serif;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left:auto;
}

.topnavImage{
    margin-bottom: 1%;
    margin-top: 1%;
    margin-right: 10px;
    width: 60px;

}

.topnavLogo{
    color: #ff8c03;
    font-family: 'Montserrat', sans-serif;
    font-size: 375%;
    margin-left: 40px;


}

.tixLogo{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom:5px;
}

.artists {
    color: white;
    font-family: 'Catamaran', sans-serif;
    background-color:transparent;
    width: 90%;
    height: 50px;
    font-size: 20px;
}

.artists:hover {
    background-color: rgba(51, 51, 51, .9);
}

.panel-title{
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    color: white;
    font-size: 40px;
    margin-bottom: 1%;
    margin-top: 1%;
    font-size: 35px;
}

.tickets-list{
    margin-top: 30px;
    margin-right: 7%;
    background-color: #5d5d5d;
    width: 40%;
    height: 648px;
    float: right;
}

.list-group-item{
    color:white;
    height: 145px;
    width: 100%;
    border-bottom-style:groove;
    border-bottom-color: rgba(80,80,80,.4);
    font-size: 20px;
    background-color:transparent;
    font-family: 'PT Sans', sans-serif;
    display: inline-block;
}

.list-group-item-heading{
    overflow-x:hidden;
    white-space: nowrap;
    font-size:110%;
    margin-top: 12.5px;
    width:95%;
    margin-left: 20px;
}


.list-group-item-text{
    display:inline-block;
    width: 60%;
    height: 20px;
    margin-top:10px;
/*    border: 3px solid #73AD21;*/
    font-size: 15px;
    margin-left:20px;


}


.venue{
    order: 3;
    margin-top: 15px;
    font-family: "Roboto", sans-serif;
    font-size: 70%;
    margin-left: 20px;
    width: 55%;
    display: inline-block;
/*    border: 3px solid red;*/
}

.price-range{
    font-size: 13px;
    display: inline-block;
    float:right;
/*    border: 3px solid red;*/
    height:20px;
    width:35%;
    margin-top:8px;
}

.buyButton {
    text-align:center;
    padding-top:10px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    background-color: #009cde;
    font-size: 12px;
    float:right;
    height:25px;
    width:85px;
}

.buyDiv {
    color:white;
    position: relative;
/*    display:inline-block;*/
    clear:both;
    float:right;
/*    border: 3px solid red;*/
    right:16%;
    bottom: 0px;
    top: 15px;
/*    border: 3px solid red;*/
}


/*




.list-group-item-heading{
    display: inline-block;
    border: 3px solid red;
    height:20px;
    width:95%;
}


.list-group-item-text{
    display: inline-block;
    width: 300px;
    height: 10px;
    margin: 10px;
    border: 3px solid red;
    margin-top: 40px;
    float: left;
}


.venue{
  display: inline-block;
  width: 300px;
  height: 75px;
  margin: 10px;
  border: 3px solid red;
}

.price-range{
    display: inline-block;
    width: 300px;
    height: 75px;
    margin: 10px;
    border: 3px solid red;
}

.buyButton {
    display: inline-block;
    width: 300px;
    height: 75px;
    margin: 10px;
    border: 3px solid red;
}
*/






.pageButtons{
    text-decoration: none;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
    list-style-type: none;
}

.next {
    width: 70px;
    height: 40px;
    margin-left: 5px;
    background-color: #808080;
    font-size: 20px;

}

.previous{
    width: 70px;
    height:40px;
    margin-right: 5px;
    background-color: #808080;
    font-size: 20px;
}

.next:hover{
    background-color: #bfbfbf;
}

.previous:hover {
    background-color: #bfbfbf;
}






/*
footer{
    width:100%;
    position:fixed;
    margin-top: -180px;
    bottom:0px;
    text-align: center;
    height: 200px;
    background: linear-gradient(#00001a, #00001a, #142952);
    background-color: #00001a;
    padding-top: 10%;
    font-size: 200%;
    color: white;
    display: block;


}

.footerheading{
  font-family: 'Questrial', sans-serif;
  font-size: 90%;
}


.fa {
  padding: 20px;
  width: 6%;
  height: 13%;
  text-align: center;
  text-decoration: none;
  margin-top:auto;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-github {
  background: white;
  color: black;
}

.fa-envelope{
  background: red;
  color: white;
}
*/

footer{
    margin-top:20%;
    height: 500px;
    background-color: black;
    font-family: 'Raleway', sans-serif;
}

.intellectualProperty{
    text-align: center;
    color: white;
    padding-top: 100px;

}

.contacts{
    text-align: center;
    margin-top:40px;
}

.fa {
    padding-top: 10px;
    width:65px;
    height:50px;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  font-size:50px;
  margin-right:3px;
}

.fa-github {
  background: white;
  color: rebeccapurple;
  margin-left: 3px;
}

.poweredBy{
  margin-top:10px;
  margin-bottom: 25px;
}

#SpotifyLogo{
  margin-right: 5px;
}

#ticketmasterLogo{
  margin-left: 5px;
}

.footerText{
  color:white;
  text-align:center;
  padding-top:90px;
  /*font-family: 'Catamaran', sans-serif;*/
  font-size:20px;
}

.copyright{
  color:white;
  text-align:center;
  margin-top:60px;
}
